.App {
  text-align: center;
}

body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url("./assets/image.jpg");
}
.all {
  margin-top: 10%
}